table {
	position: relative;
	z-index: 2;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-radius: 14px;
	width: 90%;
	border: 20px solid white;
	border-spacing: 0px;
	border-top: none;
	border-bottom: none;
	box-shadow: 5px 5px 5px #888888;
}

table th {
	border: 2px solid grey;
	border-top: none;
	border-left:none;
	border-right: none;
	text-align: right;
	padding: 20px;
}

table td {
	border-collapse: collapse; 
	border-spacing: 0px;
	text-align: right;
	border: 1px solid grey;
	border-left: none;
	border-right: none;
	border-bottom: none;
	padding: 20px;
}

table th:first-child {
	text-align: left;
}

table td:first-child {
	text-align: left;
}

table tr:first-child td {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
